name: IP To ASN Runner

on:
  push:
    branches: ["*"]
  pull_request:
    branches: ["*"]
  schedule:
    - cron: "*/30 18 * * *"
  workflow_dispatch:

jobs:
  asn_intelligence:
    runs-on: ubuntu-latest
    container: ubuntu:focal

    steps:
      - uses: actions/checkout@v2
      - name: Preparing Environment
        run: |
          apt-get update
          DEBIAN_FRONTEND="noninteractive" apt-get install -y \
            wget curl \
            pbzip2 python3-pip \
            gcc g++ git \
            cmake make \
            libboost-date-time-dev \
            libboost-serialization-dev \
            libboost-regex-dev \
            libbz2-dev \
            zlib1g-dev \
            tzdata
          wget https://github.com/RIPE-NCC/bgpdump/releases/download/v1.6.2/libbgpdump-1.6.2.tgz -Olibbgpdump-1.6.2.tgz
          tar -xf libbgpdump-1.6.2.tgz
          cd libbgpdump-1.6.2; ./configure --prefix=/opt/libbgpdump; make -j; make install
          git clone https://github.com/pavel-odintsov/asn_intelligence "${GITHUB_WORKSPACE}"/asn
          mkdir "${GITHUB_WORKSPACE}"/asn/src/build
          cd "${GITHUB_WORKSPACE}"/asn/src/build; cmake ..; make -j

      - name: Run ASN_Intelligence
        run: |
          "${GITHUB_WORKSPACE}"/asn/src/build/asn_intelligence

      - name: Check if JSON file(s) exists
        run: |
          if [[ ! -f "/tmp/prefix_asn_mapping_v4.json" ]]; then echo "IPv4 JSON not found, failing..." && exit 1; else echo "IPv4 JSON found"; fi
          if [[ ! -f "/tmp/prefix_asn_mapping_v6.json" ]]; then echo "IPv6 JSON not found, failing..." && exit 1; else echo "IPv6 JSON found"; fi

      - name: Push to GitLab
        run: |
          ./push.sh
        env:
          GITLAB_TOKEN: ${{ secrets.GITLAB_TOKEN }}
          TZ: Asia/Kolkata
